
body{
    font-family: var(--ff-r);
    background: var(--clr-blk);
    color: var(--clr-wht);
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

/* NAVIGATION BAR */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: var(--fw-600);
    padding: 5px 0 5px 0;
    margin-bottom: 2rem;
    background: var(--clr-dornge);
    box-shadow: var(--bx-shdw);
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: .9;
}
.nav-container:hover{
    box-shadow: var(--bx-shdw);
}
.logo{
    height: 50px;
}
.nav-links,
.social-links{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.link{
    background: var(--clr-dornge);
    margin: 0 1rem 0 1rem;
    color: var(--clr-wht);
}
.link:hover{
    border-bottom: 2px solid;
    width: 100%;
}

.li-link:hover{
    background: var(--clr-lblk);
}

ul li a{
    margin: 1rem;
    font-weight: var(--fw-600);
    font-family: var(--ff-r);
}

/* TOGGLE CATEGORY */
.btn{
    color: var(--clr-wht);
}
.men-category{
    display: none;
    position: absolute;
    margin-top: 1rem;
    width: 100px;
    height: 35%;
    line-height: 3rem;
    text-align: center;
}

.kids-category{
    display: none;
    position: absolute;
    margin-top: 1rem;
    width: 100px;
    height: 35%;
    line-height: 3rem;
    text-align: center;
}
.women-category{
    display: none;
    position: absolute;
    margin-top: 1rem;
    width: 100px;
    height: 35%;
    line-height: 3rem;
    text-align: center;
}
.men-category.active{
    display: block;
}
.women-category.active{
    display: block;
}
.kids-category.active{
    display: block;
}/* TOGGLE CATEGORY END*/

input,
button{
    border: none;
    margin: 0;
    opacity: 0.9;
}
input{
    border-radius: 10px 0 0 10px;
    text-indent: 1rem;
    width: 10rem;
}
button{
    background: var(--clr-blk);
    width: 100%;
}
/* TABLET NAVIGATION BAR */
@media only screen and (max-width: 800px){
    
}/* TABLET NAVIGATION BAR END */ /* NAVIGATION BAR END*/
.sale-container{
    position: relative;
    top: 3.6rem;
    margin-bottom: 4rem;
}
/* PRODUCTS */
#main-container{
    margin-bottom: 4rem;
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.products ul li{
    width: 300px;
    height: 300px;
    flex-grow: 1;
    margin: 1rem;
    margin-bottom: 6rem;
}
.add-to-cart{
    visibility: hidden;
    color: var(--clr-dblk);
    background-color: var(--clr-wht);
    position: relative;
    top: 150px;
    left: 10px;
    width: 100px;
    cursor: pointer;
}
.product:hover .add-to-cart{
    visibility: visible;
}
.product-name,
.product-brand,
.product-price{
    position: relative;
    bottom: 1.5rem;
}
span{
    text-decoration: line-through;
    color: var(--clr-wht);
    font-size: var(--fs-0-8);
}
.product-price{
    color: var(--clr-ornge);
    font-size: var(--fs-1-2);
    font-weight: var(--fw-400);
}
.product:hover{
    box-shadow: var(--bx-shdw);
    background: var(--clr-blk);
}

.product-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.image-anchor{
    pointer-events: none;  /* Remove image pointer event */
}

/* FOOTER */
.footer{
    width: 100%;
    padding: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-ornge);
    color: var(--clr-dblk);
    font-weight: var(--fw-400);
    opacity: 0.5;

}
.text-transparent{
    color: var(--clr-wht);
}/* PRODUCTS END*/